@import '_variables';

.header {
    height: 130px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr 1.5fr;
    @extend %container; 
    grid-template-areas:
    "hamburger logo basket"
    "input input input";
    @include screen('tablet') {
        grid-template-columns: 50px 150px auto 80px;
        grid-template-areas:
        "hamburger logo input basket";
    }
    @include screen('desktop') {
        grid-template-columns: 0 150px auto 120px;
    }
    &__logo {
        grid-area: logo;
        img {
            width: 100px;
            height: auto;
            @include screen('tablet') {
                width: 120px;
                height: auto;
            }
            @include screen('desktop') {
                width: 160px;
                height: auto;
            }
        }
    }
    &__search {
        grid-area: input;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        @include screen('desktop') {
            padding-left: 25%;
        }
        input {
            width: 260px;
            height: 30px;
            border: 0;
            border-bottom: 1px solid var(--color-dark);
            @include screen('tablet') {
                width: 350px;
            }
            @include screen('desktop') {
                width: 420px;
            }
            &::placeholder {
                padding-left: 5px;
                color: #a3a2a2;
            }
        }
        button {
            border: 0;
            background: transparent;
            border-bottom: 1px solid var(--color-dark);
        }
    }
    &__shop {
        grid-area: basket;
        text-decoration: none;
        font-size: var(--font-xsmall);
        font-weight: var(--font-bold);
        color: var(--color-dark);
        display: flex;
        justify-self: center;
        width: 80px;
        height: 40px;
        @include screen('desktop') {
            width: 120px;
            font-size: var(--font-normal);
        }
        img {
            padding-right: 10px;
            width: 30px;
            height: 35px;
        }
    }
}