@import '_variables';

body {
    font-family: 'Lato', sans-serif;
  }

  %container {
    max-width: var(--content-size-mobile);
    margin: 0 auto;
    @include screen('tablet') {
      max-width: var(--content-size-tablet);
    }
    @include screen('desktop') {
      max-width: var(--content-size-desktop);
   }
  }

  .hide {
    display: none;
    @include screen('tablet') {
      display: block;
    }
  }

